
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: 'Open Sans';
}
.container {
	padding: 50px 0;
}
.form-login {
	padding: 0px 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #e0e0e0;
}

.login-container,.subtitle {
	text-align: center;
}

.text-vertical-center h1 {
    color: white;
}

.text-vertical-center h3 {
    color: white;
}

.h2header h2 {
	font-size: 25px;
	margin-bottom: 30px;
	color: #428bca;
}

.form-control
{
	color: #000;
}

.text-fondo {
	color: #fff;
}

.photo {
	position: relative;
	width: 225px;
}

.photo>.text {
	position: relative;
	color: #777;
	display:inline-block;

}

.photo>.text>img{
	margin-left: 10%;
	margin-right: 10%;
    width: 80%; /* you can use % */
    height: 80%;
}
.photo>.text-info {
	margin-left: 10px;
	margin-right: 10px;
	color: #777;
}

.reservado>.panel-heading{
	color: #8b040a;
}